.lesson {
    width: 200px;
    height: 100px;
  }
  
.section-blue {
  color: #ffa500 ;
  background-color: #0000ff  ;
}
  
.container {
  color: #ffffff;
  background-color: #000000 ;
}

#section-1 {
  color: #ffff00 ;
  background-color: #800080;
}

#section-6 {
  color: #ffff00 ;
}
